# Data Mining Versuch Analyse Globaler Gesundheitsdaten

* Autor: Prof. Dr. Johannes Maucher
* Datum: 18.10.2018

**Abzugeben ist das Jupyter Notebook mit dem verlangten Implementierungen, den entsprechenden Ausgaben, Antworten und Diskussionen/Beschreibungen. Das Notebook ist als .ipynb und als .html abzugeben.**

* [Übersicht Jupyter Notebooks im Data Mining Praktikum](Data%20Mining%20Praktikum.ipynb)


# Einführung
## Lernziele:
In diesem Versuch sollen Kenntnisse in folgenden Themen vermittelt werden:

* Datenimport und Datenexport von und zu 
    * Pandas Dataframes
    * PostgreSQL Datenbanken
* Explorative Datenanalysen (EDA)
* Interaktive Datenvisualisierung mit Bokeh
* Dimensionsreduktion mit PCA und TSNE
* Überwachtes Lernen eines Regressionsmodells
* Unüberwachtes Lernen mit K-Means
* Zeitreihen-Visualisierung

## Vorbereitung

### Datenbankzugriff
1. Installieren Sie PostgreSQL. Mit PostgreSQL sollte auch pgAdmin installiert werden. PgAdmin ist eine open-source Software für die Entwicklung und die Administration von PostgreSQL Datenbanken.
2. Legen Sie über pgAdmin eine Datenbank für das Datamining-Praktikum an. In diese Datenbank werden alle in diesem Versuch relevanten Tabellen geschrieben.
3. Für den Datenbankzugriff aus Python heraus wird in diesem Versuch [SQLAlchemy](http://docs.sqlalchemy.org/en/latest/intro.html) eingesetzt. Machen Sie sich mit den Basics von SQLAlchemy vertraut, z.B. mithilfe von [https://gitlab.mi.hdm-stuttgart.de/maucher/DataScienceProgramming/blob/master/Python/Lecture/07DataBasePandas.ipynb](https://gitlab.mi.hdm-stuttgart.de/maucher/DataScienceProgramming/blob/master/Python/Lecture/07DataBasePandas.ipynb), Abschnitt *Using SQLAlchemy and Pandas*.

### Pandas Dataframe

Machen Sie sich mit den Grundlagen von Pandas vertraut.

### Visualisierung mit Bokeh

Machen Sie sich mit den Grundlagen von [Bokeh](https://bokeh.pydata.org/en/latest/docs/user_guide/quickstart.html) vertraut.

### Dimensionsreduktion
Machen Sie sich mit der Hauptachsentransformation (PCA) und dem t-SNE Verfahren vertraut.

### Regression

Machen Sie sich mit Linearer Regression und Random Forest Regression vertraut.

### Clustering

Machen Sie sich mit dem k-means Clustering Algorithmus vertraut.

# Durchführung

## Einlesen der Daten aus .csv und Ablage in PostgreSQL
In diesem ersten Teil des Versuchs müssen alle relevanten Daten aus .csv-Files eingelesen und in PostgreSQL-Tabellen abgelegt werden. Alle benötigten .csv Files befinden sich im Verzeichnis `gesundheitsdaten`. Die Daten stammen aus folgenden Quellen:

- allgemeine Daten pro Land und Jahr, wie:
    - Lebenserwartung (https://ourworldindata.org/life-expectancy)
    - BIP pro Kopf (https://ourworldindata.org/economic-growth)
    - Gesundheitsausgaben pro Kopf (https://ourworldindata.org/financing-healthcare)
    - Jahresarbeitsstunden pro Kopf (https://ourworldindata.org/working-hours)
- Ernährungsdaten pro Land und Jahr, wie: (https://ourworldindata.org/diet-compositions)
    - durchschnittliche zugeführte Kcal pro Kopf pro Tag für verschiedene Lebensmittel

### Allgemeine Daten
Das unten gegebene Dictionary `filenames_general` definiert aus welchen Dateien (keys), welche Spalten (values) gebraucht werden. Die Bezeichnung der Spalten in den Files weicht von der Spaltenbezeichnung im Dictionary ab. Die im Dictionary angegebenen Namen sollen aber in diesem Versuch (in den Pandas Dataframes und in den Datenbank-Tabellen) verwendet werden.

In [30]:
filenames_general = {'life-expectancy.csv':['Entity','Code','Year','LifeExpectancy'],
    'gdp-per-capita-worldbank.csv':['Entity','Code','Year','GDPperCapita'],
    'annual-healthcare-expenditure-per-capita.csv':['Entity','Code','Year','AnnualHealthcarExpPerCapita'],
    'annual-working-hours-per-persons-engaged.csv':['Entity','Code','Year','AnnualWorkingHourPerPerson']
}

1. Laden Sie die relevanten Daten dieser Files in einen Pandas Dataframe. Die Spalten des resultierenden Dataframes sind *Entity, Code, Year, LifeExpectancy, GDPperCapita, AnnualHealthcarExpPerCapita, AnnualWorkingHourPerPerson*. Als Keys sind *Code*, *Entity* und *Year* zu verwenden. Zeilen in denen mindestens einer dieser Keys fehlt, sind im Dataframe und in der Datenbank zu ignorieren.

> Tipp: Verwenden Sie für das Zusammenführen der Daten aus verschiedenen Files die Methode `merge()` des Pandas-Dataframes.

2. Zeigen Sie für den angelegten Dataframe 
    * die ersten 10 Zeilen
    * die Größe (Anzahl Zeilen und Anzahl Spalten)
    * die Anzahl der NaNs pro Spalte
    
an. 

3. Schreiben Sie den angelegten Dataframe mit der Pandas Methode `to_sql()` in eine Datenbanktabelle mit dem Namen `general_information`.

In [31]:
# All necessary imports 
import psycopg2 #provides drivers for PostgreSQL
import numpy as np
import json #required to access json file
import pandas as pd

In [32]:
# The code reads the contents of the .json file into a Python dictionary.
with open('../db/configLocalP1.json') as f:
    conf = json.load(f)

In [33]:
# Create connection string to connect to PostgreSQL database
from sqlalchemy import create_engine
conn_str ='postgresql://{}:{}@localhost:{}/{}'.format(conf['user'], conf['passw'], conf['port'], conf['database'])
engine = create_engine(conn_str)

In [36]:
# Parse data from the provided csv files via Pandas library
result = pd.DataFrame
df = pd.DataFrame
for key in filenames_general:
  csv_file = '../data/gesundheitsdaten_{}'.format(key)
  df = pd.read_csv(csv_file, names=filenames_general[key], header=0)
  df = df.dropna(subset=['Code', 'Year']) # Drop missing values.
  print(df)
  if result.empty:
    result = df
  else:
    result = result.merge(df, how='left', on=['Entity' ,'Code', 'Year'])
    print('Merged result:{}'.format(result))

table_name = 'general_information'
# Check if datatable already exists,then try to
# Write records stored in a DataFrame to SQL database.
if not engine.has_table(table_name):
    try:
        result.to_sql(name=table_name, index=False, con=engine)
    except (MySQLdb.Error, MySQLdb.Warning) as e:
        print('Error {} occured writing to database.'.format(e))
else:
    print('The table {} already esists.'.format(table_name))

            Entity Code  Year  LifeExpectancy
0      Afghanistan  AFG  1950       27.537001
1      Afghanistan  AFG  1951       27.809999
2      Afghanistan  AFG  1952       28.350000
3      Afghanistan  AFG  1953       28.879999
4      Afghanistan  AFG  1954       29.399000
...            ...  ...   ...             ...
17889     Zimbabwe  ZWE  2011       54.799999
17890     Zimbabwe  ZWE  2012       56.515999
17891     Zimbabwe  ZWE  2013       58.053001
17892     Zimbabwe  ZWE  2014       59.360001
17893     Zimbabwe  ZWE  2015       60.397999

[15386 rows x 4 columns]
           Entity Code  Year  GDPperCapita
0     Afghanistan  AFG  2002   1063.635574
1     Afghanistan  AFG  2003   1099.194507
2     Afghanistan  AFG  2004   1062.249360
3     Afghanistan  AFG  2005   1136.123214
4     Afghanistan  AFG  2006   1161.124889
...           ...  ...   ...           ...
6171     Zimbabwe  ZWE  2012   1848.193306
6172     Zimbabwe  ZWE  2013   1901.183463
6173     Zimbabwe  ZWE  2014   1908.477594
6174     Zimbabwe  ZWE  2015   1890.777897
6175     Zimbabwe  ZWE  2016   1859.937441

[4983 rows x 4 columns]
Merged result:            Entity Code  Year  LifeExpectancy  GDPperCapita
0      Afghanistan  AFG  1950       27.537001           NaN
1      Afghanistan  AFG  1951       27.809999           NaN
2      Afghanistan  AFG  1952       28.350000           NaN
3      Afghanistan  AFG  1953       28.879999           NaN
4      Afghanistan  AFG  1954       29.399000           NaN
...            ...  ...   ...             ...           ...
15381     Zimbabwe  ZWE  2011       54.799999   1663.456376
15382     Zimbabwe  ZWE  2012       56.515999   1848.193306
15383     Zimbabwe  ZWE  2013       58.053001   1901.183463
15384     Zimbabwe  ZWE  2014       59.360001   1908.477594
15385     Zimbabwe  ZWE  2015       60.397999   1890.777897

[15386 rows x 5 columns]
           Entity Code  Year  AnnualHealthcarExpPerCapita
0     Afghanistan  AFG  2002                    75.983514
1     Afghanistan  AFG  2003                    89.440178
2     Afghanistan  AFG  2004                    87.520903
3     Afghanistan  AFG  2005                    88.323062
4     Afghanistan  AFG  2006                    86.856016
...           ...  ...   ...                          ...
4670     Zimbabwe  ZWE  2010                    73.122119
4671     Zimbabwe  ZWE  2011                    96.088338
4672     Zimbabwe  ZWE  2012                   112.217797
4673     Zimbabwe  ZWE  2013                   119.733339
4674     Zimbabwe  ZWE  2014                   114.608507

[3775 rows x 4 columns]
Merged result:            Entity Code  Year  LifeExpectancy  GDPperCapita  \
0      Afghanistan  AFG  1950       27.537001           NaN
1      Afghanistan  AFG  1951       27.809999           NaN
2      Afghanistan  AFG  1952       28.350000           NaN
3      Afghanistan  AFG  1953       28.879999           NaN
4      Afghanistan  AFG  1954       29.399000           NaN
...            ...  ...   ...             ...           ...
15381     Zimbabwe  ZWE  2011       54.799999   1663.456376
15382     Zimbabwe  ZWE  2012       56.515999   1848.193306
15383     Zimbabwe  ZWE  2013       58.053001   1901.183463
15384     Zimbabwe  ZWE  2014       59.360001   1908.477594
15385     Zimbabwe  ZWE  2015       60.397999   1890.777897

       AnnualHealthcarExpPerCapita
0                              NaN
1                              NaN
2                              NaN
3                              NaN
4                              NaN
...                            ...
15381                    96.088338
15382                   112.217797
15383                   119.733339
15384                   114.608507
15385                          NaN

[15386 rows x 6 columns]
         Entity Code  Year  AnnualWorkingHourPerPerson
0     Argentina  ARG  1950                 2034.000000
1     Argentina  ARG  1951                 2037.866753
2     Argentina  ARG  1952                 2041.740856
3     Argentina  ARG  1953                 2045.622325
4     Argentina  ARG  1954                 2049.511172
...         ...  ...   ...                         ...
3314    Vietnam  VNM  2010                 2375.288036
3315    Vietnam  VNM  2011                 2343.379768
3316    Vietnam  VNM  2012                 2346.886529
3317    Vietnam  VNM  2013                 2339.953637
3318    Vietnam  VNM  2014                 2339.953637

[3319 rows x 4 columns]
Merged result:            Entity Code  Year  LifeExpectancy  GDPperCapita  \
0      Afghanistan  AFG  1950       27.537001           NaN
1      Afghanistan  AFG  1951       27.809999           NaN
2      Afghanistan  AFG  1952       28.350000           NaN
3      Afghanistan  AFG  1953       28.879999           NaN
4      Afghanistan  AFG  1954       29.399000           NaN
...            ...  ...   ...             ...           ...
15381     Zimbabwe  ZWE  2011       54.799999   1663.456376
15382     Zimbabwe  ZWE  2012       56.515999   1848.193306
15383     Zimbabwe  ZWE  2013       58.053001   1901.183463
15384     Zimbabwe  ZWE  2014       59.360001   1908.477594
15385     Zimbabwe  ZWE  2015       60.397999   1890.777897

       AnnualHealthcarExpPerCapita  AnnualWorkingHourPerPerson
0                              NaN                         NaN
1                              NaN                         NaN
2                              NaN                         NaN
3                              NaN                         NaN
4                              NaN                         NaN
...                            ...                         ...
15381                    96.088338                         NaN
15382                   112.217797                         NaN
15383                   119.733339                         NaN
15384                   114.608507                         NaN
15385                          NaN                         NaN

[15386 rows x 7 columns]

In [37]:
# Print 10 values to check 
print(result[:10])

# Number of rows
print('Total number of rows: {}'.format(result.shape[0]))

# Number of columns
print('Total number of columns: {}'.format(result.shape[1]))

print(result.isnull().sum(axis = 0))

        Entity Code  Year  LifeExpectancy  GDPperCapita  \
0  Afghanistan  AFG  1950       27.537001           NaN
1  Afghanistan  AFG  1951       27.809999           NaN
2  Afghanistan  AFG  1952       28.350000           NaN
3  Afghanistan  AFG  1953       28.879999           NaN
4  Afghanistan  AFG  1954       29.399000           NaN
5  Afghanistan  AFG  1955       29.907000           NaN
6  Afghanistan  AFG  1956       30.403999           NaN
7  Afghanistan  AFG  1957       30.891001           NaN
8  Afghanistan  AFG  1958       31.367001           NaN
9  Afghanistan  AFG  1959       31.834000           NaN

   AnnualHealthcarExpPerCapita  AnnualWorkingHourPerPerson
0                          NaN                         NaN
1                          NaN                         NaN
2                          NaN                         NaN
3                          NaN                         NaN
4                          NaN                         NaN
5                          NaN                         NaN
6                          NaN                         NaN
7                          NaN                         NaN
8                          NaN                         NaN
9                          NaN                         NaN
Total number of rows: 15386
Total number of columns: 7
Entity                             0
Code                               0
Year                               0
LifeExpectancy                     0
GDPperCapita                   10783
AnnualHealthcarExpPerCapita    11811
AnnualWorkingHourPerPerson     12067
dtype: int64

In [38]:
# Test the results written into the database
engine.execute("SELECT * FROM general_information").fetchall()

[('Afghanistan', 'AFG', 1950, 27.537001, None, None, None),
 ('Afghanistan', 'AFG', 1951, 27.809998999999998, None, None, None),
 ('Afghanistan', 'AFG', 1952, 28.35, None, None, None),
 ('Afghanistan', 'AFG', 1953, 28.879998999999998, None, None, None),
 ('Afghanistan', 'AFG', 1954, 29.399, None, None, None),
 ('Afghanistan', 'AFG', 1955, 29.906999999999996, None, None, None),
 ('Afghanistan', 'AFG', 1956, 30.403999, None, None, None),
 ('Afghanistan', 'AFG', 1957, 30.891001, None, None, None),
 ('Afghanistan', 'AFG', 1958, 31.367001000000002, None, None, None),
 ('Afghanistan', 'AFG', 1959, 31.834, None, None, None),
 ('Afghanistan', 'AFG', 1960, 32.292, None, None, None),
 ('Afghanistan', 'AFG', 1961, 32.742001, None, None, None),
 ('Afghanistan', 'AFG', 1962, 33.185001, None, None, None),
 ('Afghanistan', 'AFG', 1963, 33.624001, None, None, None),
 ('Afghanistan', 'AFG', 1964, 34.060001, None, None, None),
 ('Afghanistan', 'AFG', 1965, 34.494999, None, None, None),
 ('Afghanistan', 'AFG', 1966, 34.928001, None, None, None),
 ('Afghanistan', 'AFG', 1967, 35.361, None, None, None),
 ('Afghanistan', 'AFG', 1968, 35.796001000000004, None, None, None),
 ('Afghanistan', 'AFG', 1969, 36.234001, None, None, None),
 ('Afghanistan', 'AFG', 1970, 36.678001, None, None, None),
 ('Afghanistan', 'AFG', 1971, 37.127998, None, None, None),
 ('Afghanistan', 'AFG', 1972, 37.587002000000005, None, None, None),
 ('Afghanistan', 'AFG', 1973, 38.056, None, None, None),
 ('Afghanistan', 'AFG', 1974, 38.540001000000004, None, None, None),
 ('Afghanistan', 'AFG', 1975, 39.039001, None, None, None),
 ('Afghanistan', 'AFG', 1976, 39.556, None, None, None),
 ('Afghanistan', 'AFG', 1977, 40.091999, None, None, None),
 ('Afghanistan', 'AFG', 1978, 40.650002, None, None, None),
 ('Afghanistan', 'AFG', 1979, 41.234001, None, None, None),
 ('Afghanistan', 'AFG', 1980, 41.853001, None, None, None),
 ('Afghanistan', 'AFG', 1981, 42.513000000000005, None, None, None),
 ('Afghanistan', 'AFG', 1982, 43.216999, None, None, None),
 ('Afghanistan', 'AFG', 1983, 43.963001, None, None, None),
 ('Afghanistan', 'AFG', 1984, 44.747002, None, None, None),
 ('Afghanistan', 'AFG', 1985, 45.566002000000005, None, None, None),
 ('Afghanistan', 'AFG', 1986, 46.417, None, None, None),
 ('Afghanistan', 'AFG', 1987, 47.287997999999995, None, None, None),
 ('Afghanistan', 'AFG', 1988, 48.164001, None, None, None),
 ('Afghanistan', 'AFG', 1989, 49.028, None, None, None),
 ('Afghanistan', 'AFG', 1990, 49.855999, None, None, None),
 ('Afghanistan', 'AFG', 1991, 50.626999, None, None, None),
 ('Afghanistan', 'AFG', 1992, 51.331001, None, None, None),
 ('Afghanistan', 'AFG', 1993, 51.967999, None, None, None),
 ('Afghanistan', 'AFG', 1994, 52.539001, None, None, None),
 ('Afghanistan', 'AFG', 1995, 53.055, None, None, None),
 ('Afghanistan', 'AFG', 1996, 53.533001, None, None, None),
 ('Afghanistan', 'AFG', 1997, 53.997002, None, None, None),
 ('Afghanistan', 'AFG', 1998, 54.467999, None, None, None),
 ('Afghanistan', 'AFG', 1999, 54.958999999999996, None, None, None),
 ('Afghanistan', 'AFG', 2000, 55.481998, None, None, None),
 ('Afghanistan', 'AFG', 2001, 56.043999, None, None, None),
 ('Afghanistan', 'AFG', 2002, 56.637001, 1063.63557365313, 75.98351391, None),
 ('Afghanistan', 'AFG', 2003, 57.25, 1099.19450675044, 89.44017773, None),
 ('Afghanistan', 'AFG', 2004, 57.875, 1062.24936045108, 87.52090345, None),
 ('Afghanistan', 'AFG', 2005, 58.5, 1136.12321410151, 88.32306226, None),
 ('Afghanistan', 'AFG', 2006, 59.110001000000004, 1161.12488912197, 86.85601592, None),
 ('Afghanistan', 'AFG', 2007, 59.693999999999996, 1284.7752130262402, 88.71198979, None),
 ('Afghanistan', 'AFG', 2008, 60.243, 1298.14315888036, 111.46310638, None),
 ('Afghanistan', 'AFG', 2009, 60.754002, 1531.1739927173498, 148.00120214, None),
 ('Afghanistan', 'AFG', 2010, 61.226002, 1614.2550012611498, 153.44620572, None),
 ('Afghanistan', 'AFG', 2011, 61.666000000000004, 1660.73985617959, 141.0557326, None),
 ('Afghanistan', 'AFG', 2012, 62.085999, 1839.27357927778, 160.36802664, None),
 ('Afghanistan', 'AFG', 2013, 62.493999, 1814.1558253278, 156.52934858, None),
 ('Afghanistan', 'AFG', 2014, 62.895, 1780.38236589403, 166.51672658, None),
 ('Afghanistan', 'AFG', 2015, 63.287997999999995, 1747.97845720582, None, None),
 ('Albania', 'ALB', 1950, 54.188999, None, None, None),
 ('Albania', 'ALB', 1951, 54.396999, None, None, None),
 ('Albania', 'ALB', 1952, 54.872002, None, None, None),
 ('Albania', 'ALB', 1953, 55.465, None, None, None),
 ('Albania', 'ALB', 1954, 56.175999, None, None, None),
 ('Albania', 'ALB', 1955, 57.002998, None, None, None),
 ('Albania', 'ALB', 1956, 57.937, None, None, None),
 ('Albania', 'ALB', 1957, 58.965, None, None, None),
 ('Albania', 'ALB', 1958, 60.061001, None, None, None),
 ('Albania', 'ALB', 1959, 61.181999, None, None, None),
 ('Albania', 'ALB', 1960, 62.278999, None, None, None),
 ('Albania', 'ALB', 1961, 63.298, None, None, None),
 ('Albania', 'ALB', 1962, 64.186996, None, None, None),
 ('Albania', 'ALB', 1963, 64.91100300000001, None, None, None),
 ('Albania', 'ALB', 1964, 65.460999, None, None, None),
 ('Albania', 'ALB', 1965, 65.848, None, None, None),
 ('Albania', 'ALB', 1966, 66.108002, None, None, None),
 ('Albania', 'ALB', 1967, 66.302002, None, None, None),
 ('Albania', 'ALB', 1968, 66.485001, None, None, None),
 ('Albania', 'ALB', 1969, 66.686996, None, None, None),
 ('Albania', 'ALB', 1970, 66.932999, None, None, None),
 ('Albania', 'ALB', 1971, 67.235001, None, None, None),
 ('Albania', 'ALB', 1972, 67.58000200000001, None, None, None),
 ('Albania', 'ALB', 1973, 67.95099599999999, None, None, None),
 ('Albania', 'ALB', 1974, 68.341003, None, None, None),
 ('Albania', 'ALB', 1975, 68.734001, None, None, None),
 ('Albania', 'ALB', 1976, 69.108002, None, None, None),
 ('Albania', 'ALB', 1977, 69.446999, None, None, None),
 ('Albania', 'ALB', 1978, 69.740997, None, None, None),
 ('Albania', 'ALB', 1979, 69.989998, None, None, None),
 ('Albania', 'ALB', 1980, 70.207001, None, None, None),
 ('Albania', 'ALB', 1981, 70.416, None, None, None),
 ('Albania', 'ALB', 1982, 70.635002, None, None, None),
 ('Albania', 'ALB', 1983, 70.875999, None, None, None),
 ('Albania', 'ALB', 1984, 71.134003, None, None, None),
 ('Albania', 'ALB', 1985, 71.388, None, None, None),
 ('Albania', 'ALB', 1986, 71.605003, None, None, None),
 ('Albania', 'ALB', 1987, 71.760002, None, None, None),
 ('Albania', 'ALB', 1988, 71.843002, None, None, None),
 ('Albania', 'ALB', 1989, 71.860001, None, None, None),
 ('Albania', 'ALB', 1990, 71.835999, 4557.38923756269, None, None),
 ('Albania', 'ALB', 1991, 71.803001, 3228.30544118354, None, None),
 ('Albania', 'ALB', 1992, 71.802002, 3014.09063043112, None, None),
 ('Albania', 'ALB', 1993, 71.860001, 3323.6614327565003, None, None),
 ('Albania', 'ALB', 1994, 71.991997, 3621.69007827894, None, None),
 ('Albania', 'ALB', 1995, 72.20500200000001, 4128.80000020583, 196.53778549, None),
 ('Albania', 'ALB', 1996, 72.495003, 4532.604090815539, 247.13767322, None),
 ('Albania', 'ALB', 1997, 72.837997, 4066.7221305826793, 229.83007393, None),
 ('Albania', 'ALB', 1998, 73.208, 4461.07404577001, 239.40639574, None),
 ('Albania', 'ALB', 1999, 73.587997, 5095.5421344564, 263.70931176, None),
 ('Albania', 'ALB', 2000, 73.95500200000001, 5469.995112152829, 263.00226739, None),
 ('Albania', 'ALB', 2001, 74.28600300000001, 5960.00207234683, 275.86678107, None),
 ('Albania', 'ALB', 2002, 74.574997, 6230.848748317851, 302.72911468, None),
 ('Albania', 'ALB', 2003, 74.82, 6615.29102382901, 325.28224179, None),
 ('Albania', 'ALB', 2004, 75.028, 7022.28188571442, 361.8436802, None),
 ('Albania', 'ALB', 2005, 75.217003, 7462.1067527415, 380.41578445, None),
 ('Albania', 'ALB', 2006, 75.417999, 7917.16778268052, 412.87709072, None),
 ('Albania', 'ALB', 2007, 75.655998, 8447.882285390458, 461.17078502, None),
 ('Albania', 'ALB', 2008, 75.943001, 9153.98144048796, 511.10426730000006, None),
 ('Albania', 'ALB', 2009, 76.280998, 9524.60981094793, 540.76887208, None),
 ('Albania', 'ALB', 2010, 76.652, 9927.13514733496, 497.92833308, None),
 ('Albania', 'ALB', 2011, 77.030998, 10207.700674490201, 554.48411738, None),
 ('Albania', 'ALB', 2012, 77.389, 10369.7616592059, 544.00617177, None),
 ('Albania', 'ALB', 2013, 77.702003, 10504.0930887663, 564.06596489, None),
 ('Albania', 'ALB', 2014, 77.962997, 10715.3295809344, 614.53594606, None),
 ('Albania', 'ALB', 2015, 78.17400400000001, 11024.915107679699, None, None),
 ('Algeria', 'DZA', 1923, 28.822399, None, None, None),
 ('Algeria', 'DZA', 1933, 31.219998999999998, None, None, None),
 ('Algeria', 'DZA', 1943, 33.720001, None, None, None),
 ('Algeria', 'DZA', 1950, 42.089001, None, None, None),
 ('Algeria', 'DZA', 1951, 42.283001, None, None, None),
 ('Algeria', 'DZA', 1952, 42.676998, None, None, None),
 ('Algeria', 'DZA', 1953, 43.081001, None, None, None),
 ('Algeria', 'DZA', 1954, 43.493, None, None, None),
 ('Algeria', 'DZA', 1955, 43.915001000000004, None, None, None),
 ('Algeria', 'DZA', 1956, 44.345001, None, None, None),
 ('Algeria', 'DZA', 1957, 44.784, None, None, None),
 ('Algeria', 'DZA', 1958, 45.23, None, None, None),
 ('Algeria', 'DZA', 1959, 45.681999, None, None, None),
 ('Algeria', 'DZA', 1960, 46.138000000000005, None, None, None),
 ('Algeria', 'DZA', 1961, 46.596001, None, None, None),
 ('Algeria', 'DZA', 1962, 47.054001, None, None, None),
 ('Algeria', 'DZA', 1963, 47.507, None, None, None),
 ('Algeria', 'DZA', 1964, 47.956001, None, None, None),
 ('Algeria', 'DZA', 1965, 48.391998, None, None, None),
 ('Algeria', 'DZA', 1966, 48.808997999999995, None, None, None),
 ('Algeria', 'DZA', 1967, 49.208, None, None, None),
 ('Algeria', 'DZA', 1968, 49.595001, None, None, None),
 ('Algeria', 'DZA', 1969, 49.98, None, None, None),
 ('Algeria', 'DZA', 1970, 50.368999, None, None, None),
 ('Algeria', 'DZA', 1971, 50.77, None, None, None),
 ('Algeria', 'DZA', 1972, 51.198002, None, None, None),
 ('Algeria', 'DZA', 1973, 51.673, None, None, None),
 ('Algeria', 'DZA', 1974, 52.215, None, None, None),
 ('Algeria', 'DZA', 1975, 52.862999, None, None, None),
 ('Algeria', 'DZA', 1976, 53.658001, None, None, None),
 ('Algeria', 'DZA', 1977, 54.605999, None, None, None),
 ('Algeria', 'DZA', 1978, 55.695999, None, None, None),
 ('Algeria', 'DZA', 1979, 56.905998, None, None, None),
 ('Algeria', 'DZA', 1980, 58.195999, None, None, None),
 ('Algeria', 'DZA', 1981, 59.521, None, None, None),
 ('Algeria', 'DZA', 1982, 60.823002, None, None, None),
 ('Algeria', 'DZA', 1983, 62.047001, None, None, None),
 ('Algeria', 'DZA', 1984, 63.155998, None, None, None),
 ('Algeria', 'DZA', 1985, 64.112999, None, None, None),
 ('Algeria', 'DZA', 1986, 64.896004, None, None, None),
 ('Algeria', 'DZA', 1987, 65.525002, None, None, None),
 ('Algeria', 'DZA', 1988, 66.025002, None, None, None),
 ('Algeria', 'DZA', 1989, 66.416, None, None, None),
 ('Algeria', 'DZA', 1990, 66.724998, 10236.533280454, None, None),
 ('Algeria', 'DZA', 1991, 66.983002, 9869.1920226896, None, None),
 ('Algeria', 'DZA', 1992, 67.225998, 9815.16909730609, None, None),
 ('Algeria', 'DZA', 1993, 67.48200200000001, 9399.7721723976, None, None),
 ('Algeria', 'DZA', 1994, 67.774002, 9125.997592645179, None, None),
 ('Algeria', 'DZA', 1995, 68.114998, 9295.14100336322, 252.76942406, None),
 ('Algeria', 'DZA', 1996, 68.503998, 9509.40211302218, 236.52961023, None),
 ('Algeria', 'DZA', 1997, 68.92600300000001, 9461.071024124609, 256.90335228, None),
 ('Algeria', 'DZA', 1998, 69.366997, 9796.4457724123, 268.85153941, None),
 ('Algeria', 'DZA', 1999, 69.821999, 9968.66837740792, 265.38824248, None),
 ('Algeria', 'DZA', 2000, 70.292, 10210.695254649101, 278.0811557, None),
 ('Algeria', 'DZA', 2001, 70.778, 10381.8750940885, 323.07174002, None),
 ('Algeria', 'DZA', 2002, 71.27600100000001, 10826.1625620162, 332.46065159, None),
 ('Algeria', 'DZA', 2003, 71.779999, 11459.549458168201, 346.54772529, None),
 ('Algeria', 'DZA', 2004, 72.280998, 11796.8306188417, 360.8093318, None),
 ('Algeria', 'DZA', 2005, 72.766998, 12322.1142579484, 355.14001347, None),
 ('Algeria', 'DZA', 2006, 73.224998, 12348.110428678701, 380.56748693, None),
 ('Algeria', 'DZA', 2007, 73.648003, 12570.2772482197, 453.24224239999995, None),
 ('Algeria', 'DZA', 2008, 74.031998, 12660.023094673701, 510.13441542, None),
 ('Algeria', 'DZA', 2009, 74.374001, 12647.160541360101, 654.9774122, None),
 ('Algeria', 'DZA', 2010, 74.67600300000001, 12870.2162376058, 644.2558832999999, None),
 ('Algeria', 'DZA', 2011, 74.944, 12989.9549601294, 686.21865915, None),
 ('Algeria', 'DZA', 2012, 75.186996, 13161.5664639913, 821.33888535, None),
 ('Algeria', 'DZA', 2013, 75.417999, 13253.2175146436, 858.86035635, None),
 ('Algeria', 'DZA', 2014, 75.640999, 13482.933002936299, 932.10028378, None),
 ('Algeria', 'DZA', 2015, 75.860001, 13724.3117456, None, None),
 ('Angola', 'AGO', 1940, 26.98, None, None, None),
 ('Angola', 'AGO', 1950, 31.018998999999997, None, None, None),
 ('Angola', 'AGO', 1951, 31.103001000000003, None, None, None),
 ('Angola', 'AGO', 1952, 31.280001000000002, None, None, None),
 ('Angola', 'AGO', 1953, 31.471001, None, None, None),
 ('Angola', 'AGO', 1954, 31.677999, None, None, None),
 ('Angola', 'AGO', 1955, 31.9, None, None, None),
 ('Angola', 'AGO', 1956, 32.138000000000005, None, None, None),
 ('Angola', 'AGO', 1957, 32.390999, None, None, None),
 ('Angola', 'AGO', 1958, 32.66, None, None, None),
 ('Angola', 'AGO', 1959, 32.946999, None, None, None),
 ('Angola', 'AGO', 1960, 33.250999, None, None, None),
 ('Angola', 'AGO', 1961, 33.573002, None, None, None),
 ('Angola', 'AGO', 1962, 33.914001, None, None, None),
 ('Angola', 'AGO', 1963, 34.271999, None, None, None),
 ('Angola', 'AGO', 1964, 34.645, None, None, None),
 ('Angola', 'AGO', 1965, 35.030998, None, None, None),
 ('Angola', 'AGO', 1966, 35.425999, None, None, None),
 ('Angola', 'AGO', 1967, 35.827999, None, None, None),
 ('Angola', 'AGO', 1968, 36.234001, None, None, None),
 ('Angola', 'AGO', 1969, 36.639998999999996, None, None, None),
 ('Angola', 'AGO', 1970, 37.047001, None, None, None),
 ('Angola', 'AGO', 1971, 37.459998999999996, None, None, None),
 ('Angola', 'AGO', 1972, 37.877998, None, None, None),
 ('Angola', 'AGO', 1973, 38.297001, None, None, None),
 ('Angola', 'AGO', 1974, 38.712002000000005, None, None, None),
 ('Angola', 'AGO', 1975, 39.110001000000004, None, None, None),
 ('Angola', 'AGO', 1976, 39.478001, None, None, None),
 ('Angola', 'AGO', 1977, 39.810001, None, None, None),
 ('Angola', 'AGO', 1978, 40.098999, None, None, None),
 ('Angola', 'AGO', 1979, 40.344002, None, None, None),
 ('Angola', 'AGO', 1980, 40.546001000000004, None, None, None),
 ('Angola', 'AGO', 1981, 40.709998999999996, None, None, None),
 ('Angola', 'AGO', 1982, 40.848, None, None, None),
 ('Angola', 'AGO', 1983, 40.970001, None, None, None),
 ('Angola', 'AGO', 1984, 41.084998999999996, None, None, None),
 ('Angola', 'AGO', 1985, 41.193001, None, None, None),
 ('Angola', 'AGO', 1986, 41.292, None, None, None),
 ('Angola', 'AGO', 1987, 41.382, None, None, None),
 ('Angola', 'AGO', 1988, 41.471001, None, None, None),
 ('Angola', 'AGO', 1989, 41.571999, None, None, None),
 ('Angola', 'AGO', 1990, 41.695999, 4394.3301412664205, None, None),
 ('Angola', 'AGO', 1991, 41.855, 4209.48208913989, None, None),
 ('Angola', 'AGO', 1992, 42.060001, 3793.6455401652397, None, None),
 ('Angola', 'AGO', 1993, 42.328998999999996, 2763.82462146268, None, None),
 ('Angola', 'AGO', 1994, 42.676998, 2770.12724428741, None, None),
 ('Angola', 'AGO', 1995, 43.125, 2966.55462629496, 91.46362059999998, None),
 ('Angola', 'AGO', 1996, 43.695, 3205.9509383832697, 60.22757641, None),
 ('Angola', 'AGO', 1997, 44.384997999999996, 3365.9838304013, 79.03869714, None),
 ('Angola', 'AGO', 1998, 45.192001, 3498.7256324013897, 79.53522966, None),
 ('Angola', 'AGO', 1999, 46.105, 3511.1985734218297, 82.08157415, None),
 ('Angola', 'AGO', 2000, 47.112999, 3508.90512526976, 69.20173589, None),
 ('Angola', 'AGO', 2001, 48.200001, 3540.2320254984206, 137.88117252, None),
 ('Angola', 'AGO', 2002, 49.341, 3184.0259457406605, 103.88967134, None),
 ('Angola', 'AGO', 2003, 50.507999, 3234.99657925578, 130.48368471, None),
 ('Angola', 'AGO', 2004, 51.675999, 3461.01808359261, 153.300672, None),
 ('Angola', 'AGO', 2005, 52.833, 3949.2728004776204, 157.52116297, None),
 ('Angola', 'AGO', 2006, 53.973999, 4601.1154879667, 209.61483939, None),
 ('Angola', 'AGO', 2007, 55.096001, 5443.12621515764, 189.90186908, None),
 ('Angola', 'AGO', 2008, 56.188999, 5978.3348726785, 242.15426374, None),
 ('Angola', 'AGO', 2009, 57.230999, 5908.0514270678, 274.73451017, None),
 ('Angola', 'AGO', 2010, 58.192001, 5895.11408790181, 215.70576571, None),
 ('Angola', 'AGO', 2011, 59.042, 5911.25433387322, 220.50028242, None),
 ('Angola', 'AGO', 2012, 59.77, 5998.63860099119, 223.24452883, None),
 ('Angola', 'AGO', 2013, 60.373001, 6185.01382919907, 301.98914889, None),
 ('Angola', 'AGO', 2014, 60.858002, 6260.13268066975, 239.01023293, None),
 ('Angola', 'AGO', 2015, 61.241001000000004, 6231.06799206401, None, None),
 ('Antigua and Barbuda', 'ATG', 1950, 57.535999, None, None, None),
 ('Antigua and Barbuda', 'ATG', 1951, 57.785999, None, None, None),
 ('Antigua and Barbuda', 'ATG', 1952, 58.284, None, None, None),
 ('Antigua and Barbuda', 'ATG', 1953, 58.778999, None, None, None),
 ('Antigua and Barbuda', 'ATG', 1954, 59.271, None, None, None),
 ('Antigua and Barbuda', 'ATG', 1955, 59.758998999999996, None, None, None),
 ('Antigua and Barbuda', 'ATG', 1956, 60.243, None, None, None),
 ('Antigua and Barbuda', 'ATG', 1957, 60.722, None, None, None),
 ('Antigua and Barbuda', 'ATG', 1958, 61.195999, None, None, None),
 ('Antigua and Barbuda', 'ATG', 1959, 61.660999, None, None, None),
 ('Antigua and Barbuda', 'ATG', 1960, 62.115002000000004, None, None, None),
 ('Antigua and Barbuda', 'ATG', 1961, 62.555, None, None, None),
 ('Antigua and Barbuda', 'ATG', 1962, 62.979, None, None, None),
 ('Antigua and Barbuda', 'ATG', 1963, 63.384997999999996, None, None, None),
 ('Antigua and Barbuda', 'ATG', 1964, 63.773998, None, None, None),
 ('Antigua and Barbuda', 'ATG', 1965, 64.148003, None, None, None),
 ('Antigua and Barbuda', 'ATG', 1966, 64.510002, None, None, None),
 ('Antigua and Barbuda', 'ATG', 1967, 64.863998, None, None, None),
 ('Antigua and Barbuda', 'ATG', 1968, 65.211998, None, None, None),
 ('Antigua and Barbuda', 'ATG', 1969, 65.556999, None, None, None),
 ('Antigua and Barbuda', 'ATG', 1970, 65.897003, None, None, None),
 ('Antigua and Barbuda', 'ATG', 1971, 66.23200200000001, None, None, None),
 ('Antigua and Barbuda', 'ATG', 1972, 66.557999, None, None, None),
 ('Antigua and Barbuda', 'ATG', 1973, 66.875, None, None, None),
 ('Antigua and Barbuda', 'ATG', 1974, 67.181, None, None, None),
 ('Antigua and Barbuda', 'ATG', 1975, 67.478996, None, None, None),
 ('Antigua and Barbuda', 'ATG', 1976, 67.76799799999999, None, None, None),
 ('Antigua and Barbuda', 'ATG', 1977, 68.05100300000001, None, None, None),
 ('Antigua and Barbuda', 'ATG', 1978, 68.32800300000001, None, None, None),
 ('Antigua and Barbuda', 'ATG', 1979, 68.601997, None, None, None),
 ('Antigua and Barbuda', 'ATG', 1980, 68.873001, None, None, None),
 ('Antigua and Barbuda', 'ATG', 1981, 69.140999, None, None, None),
 ('Antigua and Barbuda', 'ATG', 1982, 69.407997, None, None, None),
 ('Antigua and Barbuda', 'ATG', 1983, 69.670998, None, None, None),
 ('Antigua and Barbuda', 'ATG', 1984, 69.931, None, None, None),
 ('Antigua and Barbuda', 'ATG', 1985, 70.186996, None, None, None),
 ('Antigua and Barbuda', 'ATG', 1986, 70.434998, None, None, None),
 ('Antigua and Barbuda', 'ATG', 1987, 70.675003, None, None, None),
 ('Antigua and Barbuda', 'ATG', 1988, 70.906998, None, None, None),
 ('Antigua and Barbuda', 'ATG', 1989, 71.13200400000001, None, None, None),
 ('Antigua and Barbuda', 'ATG', 1990, 71.350998, 16380.491024396599, None, None),

In [39]:
# Number of NaN values in every column.
result.isnull().sum(axis = 0)

Entity                             0
Code                               0
Year                               0
LifeExpectancy                     0
GDPperCapita                   10783
AnnualHealthcarExpPerCapita    11811
AnnualWorkingHourPerPerson     12067
dtype: int64

### Ernährungsdaten
Lesen Sie nun gleich wie oben die Ernährungsdaten ein. Die relevanten Spalten der entsprechenden Files sind nun im Dictionary `filenames_nutrition` definiert. Diese Daten sind in einer Datenbanktabelle `nutrition_information` anzulegen.

In [40]:
filenames_nutrition = {
    'life-expectancy.csv':['Entity','Code','Year','LifeExpectancy'],
    'fruit-consumption-per-capita-kilograms-per-year.csv':
            ['Entity','Code','Year','AnnualFruitConsumptionPerCapita'],
    'vegetable-consumption-per-capita-kilograms-per-year.csv':
            ['Entity','Code','Year','AnnualVegetableConsumptionPerCapita'],
    'dietary-compositions-by-commodity-group-1961-2013.csv':
            ['Entity','Code','Year','KcalOther','KcalSugar',
            'KcalOilsFats','KcalMeat','KcalDairyEggs',
            'KcalFruitsVegetables','KcalStarchyRoots','KcalPulses',
            'KcalCerealsGrains','KcalAlcoholicBeverages'],
    'daily-caloric-supply-derived-from-carbohydrates-protein-and-fat.csv':
            ['Entity','Code','Year','KcalAnimalProtein',
            'KcalPlantProtein','KcalFat','KcalCarbohydrates'],
    'daily-per-capita-supply-of-calories.csv':['Entity','Code','Year','DailyCaloriesPerCapita']
}

In [41]:
# Parse data from the provided csv files via Pandas library
result = pd.DataFrame
df = pd.DataFrame
for key in filenames_nutrition:
  csv_file = '../data/gesundheitsdaten_{}'.format(key)
  df = pd.read_csv(csv_file, names=filenames_nutrition[key], header=0)
  df = df.dropna(subset=['Code', 'Year']) # Drop missing values.
  print(df)
  if result.empty:
    result = df
  else:
    result = result.merge(df, how='left', on=['Entity' ,'Code', 'Year'])
    print('Merged result:{}'.format(result))

table_name = 'nutrition_information'
# Check if datatable already exists,then try to
# Write records stored in a DataFrame to SQL database.
if not engine.has_table(table_name):
    try:
        result.to_sql(name=table_name, index=False, con=engine)
    except (MySQLdb.Error, MySQLdb.Warning) as e:
        print('Error {} occured writing to database.'.format(e))
else:
    print('The table {} already esists.'.format(table_name))

            Entity Code  Year  LifeExpectancy
0      Afghanistan  AFG  1950       27.537001
1      Afghanistan  AFG  1951       27.809999
2      Afghanistan  AFG  1952       28.350000
3      Afghanistan  AFG  1953       28.879999
4      Afghanistan  AFG  1954       29.399000
...            ...  ...   ...             ...
17889     Zimbabwe  ZWE  2011       54.799999
17890     Zimbabwe  ZWE  2012       56.515999
17891     Zimbabwe  ZWE  2013       58.053001
17892     Zimbabwe  ZWE  2014       59.360001
17893     Zimbabwe  ZWE  2015       60.397999

[15386 rows x 4 columns]
            Entity Code  Year  AnnualFruitConsumptionPerCapita
0      Afghanistan  AFG  1961                            41.13
1      Afghanistan  AFG  1962                            38.00
2      Afghanistan  AFG  1963                            38.25
3      Afghanistan  AFG  1964                            47.92
4      Afghanistan  AFG  1965                            48.69
...            ...  ...   ...                              ...
10388     Zimbabwe  ZWE  2009                            14.26
10389     Zimbabwe  ZWE  2010                            16.12
10390     Zimbabwe  ZWE  2011                            17.19
10391     Zimbabwe  ZWE  2012                            17.90
10392     Zimbabwe  ZWE  2013                            15.32

[8260 rows x 4 columns]
Merged result:            Entity Code  Year  LifeExpectancy  AnnualFruitConsumptionPerCapita
0      Afghanistan  AFG  1950       27.537001                              NaN
1      Afghanistan  AFG  1951       27.809999                              NaN
2      Afghanistan  AFG  1952       28.350000                              NaN
3      Afghanistan  AFG  1953       28.879999                              NaN
4      Afghanistan  AFG  1954       29.399000                              NaN
...            ...  ...   ...             ...                              ...
15381     Zimbabwe  ZWE  2011       54.799999                            17.19
15382     Zimbabwe  ZWE  2012       56.515999                            17.90
15383     Zimbabwe  ZWE  2013       58.053001                            15.32
15384     Zimbabwe  ZWE  2014       59.360001                              NaN
15385     Zimbabwe  ZWE  2015       60.397999                              NaN

[15386 rows x 5 columns]
            Entity Code  Year  AnnualVegetableConsumptionPerCapita
0      Afghanistan  AFG  1961                                36.75
1      Afghanistan  AFG  1962                                37.47
2      Afghanistan  AFG  1963                                38.87
3      Afghanistan  AFG  1964                                40.17
4      Afghanistan  AFG  1965                                40.83
...            ...  ...   ...                                  ...
10388     Zimbabwe  ZWE  2009                                13.89
10389     Zimbabwe  ZWE  2010                                16.43
10390     Zimbabwe  ZWE  2011                                16.26
10391     Zimbabwe  ZWE  2012                                16.52
10392     Zimbabwe  ZWE  2013                                16.04

[8260 rows x 4 columns]
Merged result:            Entity Code  Year  LifeExpectancy  \
0      Afghanistan  AFG  1950       27.537001
1      Afghanistan  AFG  1951       27.809999
2      Afghanistan  AFG  1952       28.350000
3      Afghanistan  AFG  1953       28.879999
4      Afghanistan  AFG  1954       29.399000
...            ...  ...   ...             ...
15381     Zimbabwe  ZWE  2011       54.799999
15382     Zimbabwe  ZWE  2012       56.515999
15383     Zimbabwe  ZWE  2013       58.053001
15384     Zimbabwe  ZWE  2014       59.360001
15385     Zimbabwe  ZWE  2015       60.397999

       AnnualFruitConsumptionPerCapita  AnnualVegetableConsumptionPerCapita
0                                  NaN                                  NaN
1                                  NaN                                  NaN
2                                  NaN                                  NaN
3                                  NaN                                  NaN
4                                  NaN                                  NaN
...                                ...                                  ...
15381                            17.19                                16.26
15382                            17.90                                16.52
15383                            15.32                                16.04
15384                              NaN                                  NaN
15385                              NaN                                  NaN

[15386 rows x 6 columns]
           Entity Code  Year  KcalOther  KcalSugar  KcalOilsFats  KcalMeat  \
0     Afghanistan  AFG  1961         13         51            92        88
1     Afghanistan  AFG  1962         12         45            98        88
2     Afghanistan  AFG  1963         13         47           106        91
3     Afghanistan  AFG  1964         11         55           102        93
4     Afghanistan  AFG  1965         13         57           105        95
...           ...  ...   ...        ...        ...           ...       ...
8149     Zimbabwe  ZWE  2009         17        209           345        94
8150     Zimbabwe  ZWE  2010         19        223           342        94
8151     Zimbabwe  ZWE  2011         18        232           343        98
8152     Zimbabwe  ZWE  2012         16        264           353        99
8153     Zimbabwe  ZWE  2013         14        268           340        91

      KcalDairyEggs  KcalFruitsVegetables  KcalStarchyRoots  KcalPulses  \
0               102                    82                25          16
1               101                    76                22          17
2               110                    79                23          17
3               110                    95                24          18
4               118                    95                24          18
...             ...                   ...               ...         ...
8149             53                    28                56          56
8150             56                    32                54          49
8151             59                    32                56          39
8152             55                    31                55          35
8153             55                    29                54          36

      KcalCerealsGrains  KcalAlcoholicBeverages
0                  2530                     0.0
1                  2458                     0.0
2                  2212                     0.0
3                  2445                     0.0
4                  2431                     0.0
...                 ...                     ...
8149               1222                    67.0
8150               1233                    66.0
8151               1257                    66.0
8152               1210                    79.0
8153               1147                    76.0

[8101 rows x 13 columns]
Merged result:            Entity Code  Year  LifeExpectancy  \
0      Afghanistan  AFG  1950       27.537001
1      Afghanistan  AFG  1951       27.809999
2      Afghanistan  AFG  1952       28.350000
3      Afghanistan  AFG  1953       28.879999
4      Afghanistan  AFG  1954       29.399000
...            ...  ...   ...             ...
15381     Zimbabwe  ZWE  2011       54.799999
15382     Zimbabwe  ZWE  2012       56.515999
15383     Zimbabwe  ZWE  2013       58.053001
15384     Zimbabwe  ZWE  2014       59.360001
15385     Zimbabwe  ZWE  2015       60.397999

       AnnualFruitConsumptionPerCapita  AnnualVegetableConsumptionPerCapita  \
0                                  NaN                                  NaN
1                                  NaN                                  NaN
2                                  NaN                                  NaN
3                                  NaN                                  NaN
4                                  NaN                                  NaN
...                                ...                                  ...
15381                            17.19                                16.26
15382                            17.90                                16.52
15383                            15.32                                16.04
15384                              NaN                                  NaN
15385                              NaN                                  NaN

       KcalOther  KcalSugar  KcalOilsFats  KcalMeat  KcalDairyEggs  \
0            NaN        NaN           NaN       NaN            NaN
1            NaN        NaN           NaN       NaN            NaN
2            NaN        NaN           NaN       NaN            NaN
3            NaN        NaN           NaN       NaN            NaN
4            NaN        NaN           NaN       NaN            NaN
...          ...        ...           ...       ...            ...
15381       18.0      232.0         343.0      98.0           59.0
15382       16.0      264.0         353.0      99.0           55.0
15383       14.0      268.0         340.0      91.0           55.0
15384        NaN        NaN           NaN       NaN            NaN
15385        NaN        NaN           NaN       NaN            NaN

       KcalFruitsVegetables  KcalStarchyRoots  KcalPulses  KcalCerealsGrains  \
0                       NaN               NaN         NaN                NaN
1                       NaN               NaN         NaN                NaN
2                       NaN               NaN         NaN                NaN
3                       NaN               NaN         NaN                NaN
4                       NaN               NaN         NaN                NaN
...                     ...               ...         ...                ...
15381                  32.0              56.0        39.0             1257.0
15382                  31.0              55.0        35.0             1210.0
15383                  29.0              54.0        36.0             1147.0
15384                   NaN               NaN         NaN                NaN
15385                   NaN               NaN         NaN                NaN

       KcalAlcoholicBeverages
0                         NaN
1                         NaN
2                         NaN
3                         NaN
4                         NaN
...                       ...
15381                    66.0
15382                    79.0
15383                    76.0
15384                     NaN
15385                     NaN

[15386 rows x 16 columns]
           Entity Code  Year  KcalAnimalProtein  KcalPlantProtein  KcalFat  \
0     Afghanistan  AFG  1961              54.12            285.52   337.59
1     Afghanistan  AFG  1962              53.92            278.00   338.49
2     Afghanistan  AFG  1963              56.80            251.68   347.13
3     Afghanistan  AFG  1964              57.32            276.64   350.55
4     Afghanistan  AFG  1965              59.76            275.68   357.57
...           ...  ...   ...                ...               ...      ...
8976     Zimbabwe  ZWE  2009              48.64            162.16   531.72
8977     Zimbabwe  ZWE  2010              49.16            161.72   531.45
8978     Zimbabwe  ZWE  2011              51.40            159.20   537.66
8979     Zimbabwe  ZWE  2012              49.80            153.16   538.56
8980     Zimbabwe  ZWE  2013              47.04            146.36   514.62

      KcalCarbohydrates
0               2321.77
1               2246.59
2               2042.39
3               2268.49
4               2262.99
...                 ...
8976            1404.48
8977            1425.67
8978            1451.74
8979            1455.48
8980            1401.98

[8877 rows x 7 columns]
Merged result:            Entity Code  Year  LifeExpectancy  \
0      Afghanistan  AFG  1950       27.537001
1      Afghanistan  AFG  1951       27.809999
2      Afghanistan  AFG  1952       28.350000
3      Afghanistan  AFG  1953       28.879999
4      Afghanistan  AFG  1954       29.399000
...            ...  ...   ...             ...
15381     Zimbabwe  ZWE  2011       54.799999
15382     Zimbabwe  ZWE  2012       56.515999
15383     Zimbabwe  ZWE  2013       58.053001
15384     Zimbabwe  ZWE  2014       59.360001
15385     Zimbabwe  ZWE  2015       60.397999

       AnnualFruitConsumptionPerCapita  AnnualVegetableConsumptionPerCapita  \
0                                  NaN                                  NaN
1                                  NaN                                  NaN
2                                  NaN                                  NaN
3                                  NaN                                  NaN
4                                  NaN                                  NaN
...                                ...                                  ...
15381                            17.19                                16.26
15382                            17.90                                16.52
15383                            15.32                                16.04
15384                              NaN                                  NaN
15385                              NaN                                  NaN

       KcalOther  KcalSugar  KcalOilsFats  KcalMeat  KcalDairyEggs  \
0            NaN        NaN           NaN       NaN            NaN
1            NaN        NaN           NaN       NaN            NaN
2            NaN        NaN           NaN       NaN            NaN
3            NaN        NaN           NaN       NaN            NaN
4            NaN        NaN           NaN       NaN            NaN
...          ...        ...           ...       ...            ...
15381       18.0      232.0         343.0      98.0           59.0
15382       16.0      264.0         353.0      99.0           55.0
15383       14.0      268.0         340.0      91.0           55.0
15384        NaN        NaN           NaN       NaN            NaN
15385        NaN        NaN           NaN       NaN            NaN

       KcalFruitsVegetables  KcalStarchyRoots  KcalPulses  KcalCerealsGrains  \
0                       NaN               NaN         NaN                NaN
1                       NaN               NaN         NaN                NaN
2                       NaN               NaN         NaN                NaN
3                       NaN               NaN         NaN                NaN
4                       NaN               NaN         NaN                NaN
...                     ...               ...         ...                ...
15381                  32.0              56.0        39.0             1257.0
15382                  31.0              55.0        35.0             1210.0
15383                  29.0              54.0        36.0             1147.0
15384                   NaN               NaN         NaN                NaN
15385                   NaN               NaN         NaN                NaN

       KcalAlcoholicBeverages  KcalAnimalProtein  KcalPlantProtein  KcalFat  \
0                         NaN                NaN               NaN      NaN
1                         NaN                NaN               NaN      NaN
2                         NaN                NaN               NaN      NaN
3                         NaN                NaN               NaN      NaN
4                         NaN                NaN               NaN      NaN
...                       ...                ...               ...      ...
15381                    66.0              51.40            159.20   537.66
15382                    79.0              49.80            153.16   538.56
15383                    76.0              47.04            146.36   514.62
15384                     NaN                NaN               NaN      NaN
15385                     NaN                NaN               NaN      NaN

       KcalCarbohydrates
0                    NaN
1                    NaN
2                    NaN
3                    NaN
4                    NaN
...                  ...
15381            1451.74
15382            1455.48
15383            1401.98
15384                NaN
15385                NaN

[15386 rows x 20 columns]
           Entity Code  Year  DailyCaloriesPerCapita
0     Afghanistan  AFG  1961                  2999.0
1     Afghanistan  AFG  1962                  2917.0
2     Afghanistan  AFG  1963                  2698.0
3     Afghanistan  AFG  1964                  2953.0
4     Afghanistan  AFG  1965                  2956.0
...           ...  ...   ...                     ...
9546     Zimbabwe  ZWE  2009                  2147.0
9547     Zimbabwe  ZWE  2010                  2168.0
9548     Zimbabwe  ZWE  2011                  2200.0
9549     Zimbabwe  ZWE  2012                  2197.0
9550     Zimbabwe  ZWE  2013                  2110.0

[9119 rows x 4 columns]
Merged result:            Entity Code  Year  LifeExpectancy  \
0      Afghanistan  AFG  1950       27.537001
1      Afghanistan  AFG  1951       27.809999
2      Afghanistan  AFG  1952       28.350000
3      Afghanistan  AFG  1953       28.879999
4      Afghanistan  AFG  1954       29.399000
...            ...  ...   ...             ...
15381     Zimbabwe  ZWE  2011       54.799999
15382     Zimbabwe  ZWE  2012       56.515999
15383     Zimbabwe  ZWE  2013       58.053001
15384     Zimbabwe  ZWE  2014       59.360001
15385     Zimbabwe  ZWE  2015       60.397999

       AnnualFruitConsumptionPerCapita  AnnualVegetableConsumptionPerCapita  \
0                                  NaN                                  NaN
1                                  NaN                                  NaN
2                                  NaN                                  NaN
3                                  NaN                                  NaN
4                                  NaN                                  NaN
...                                ...                                  ...
15381                            17.19                                16.26
15382                            17.90                                16.52
15383                            15.32                                16.04
15384                              NaN                                  NaN
15385                              NaN                                  NaN

       KcalOther  KcalSugar  KcalOilsFats  KcalMeat  ...  \
0            NaN        NaN           NaN       NaN  ...
1            NaN        NaN           NaN       NaN  ...
2            NaN        NaN           NaN       NaN  ...
3            NaN        NaN           NaN       NaN  ...
4            NaN        NaN           NaN       NaN  ...
...          ...        ...           ...       ...  ...
15381       18.0      232.0         343.0      98.0  ...
15382       16.0      264.0         353.0      99.0  ...
15383       14.0      268.0         340.0      91.0  ...
15384        NaN        NaN           NaN       NaN  ...
15385        NaN        NaN           NaN       NaN  ...

       KcalFruitsVegetables  KcalStarchyRoots  KcalPulses  KcalCerealsGrains  \
0                       NaN               NaN         NaN                NaN
1                       NaN               NaN         NaN                NaN
2                       NaN               NaN         NaN                NaN
3                       NaN               NaN         NaN                NaN
4                       NaN               NaN         NaN                NaN
...                     ...               ...         ...                ...
15381                  32.0              56.0        39.0             1257.0
15382                  31.0              55.0        35.0             1210.0
15383                  29.0              54.0        36.0             1147.0

### Exemplarische Datenbankabfragen

1. Lesen Sie die Datenbanktabelle `general_information` in einen Pandas Dataframe.
2. Lesen Sie die Spalten `Year`und `AnnualWorkingHourPerPerson` für alle zu `Germany` gehörende Zeilen aus der Tabelle `general_information` in einen Pandas Dataframe.

> **Anmerkung:** Für diesen Versuch kommen relativ kleine Datenmengen zum Einsatz. In diesem Fall kann direkt auf den Pandas Dataframes gearbeitet werden. Für sehr große Datenmengen bietet es sich an, nicht alle Daten in den Arbeitsspeicher zu laden, sondern nur die aktuell benötigten durch entsprechende Datenbankabfragen.

In [44]:
# Test the PostgrSQL database for specific entries
query="""SELECT "Entity","Code", "Year","AnnualWorkingHourPerPerson" FROM general_information WHERE "Entity"= 'Germany' """
gG=pd.read_sql_query(query,engine)

print(gG)

     Entity Code  Year  AnnualWorkingHourPerPerson
0   Germany  DEU  1875                         NaN
1   Germany  DEU  1885                         NaN
2   Germany  DEU  1895                         NaN
3   Germany  DEU  1905                         NaN
4   Germany  DEU  1911                         NaN
..      ...  ...   ...                         ...
70  Germany  DEU  2011                 1393.120038
71  Germany  DEU  2012                 1374.229772
72  Germany  DEU  2013                 1362.503252
73  Germany  DEU  2014                 1371.100896
74  Germany  DEU  2015                         NaN

[75 rows x 4 columns]

## Geographische Visualisierung der Lebenserwartung

In diesem Teilversuch soll die Lebenserwartung pro Land in einer Weltkarte visualisiert werden. Zu erstellen ist ein Plot der unten dargestellten Art:

![mapLifeExpext](Bilder/mapLifeExpect.png)

### Laden der länderspezifischen Polygondaten

1. Die Lebenserwartung pro Land soll auf einer Karte abgebildet werden. Hierfür werden zunächst die Länderumrisse benötigt, um diese plotten zu können. Die Daten dazu findet man z.B. hier: https://rawgit.com/johan/world.geo.json/master/countries.geo.json. Geodaten für die Länderumrisse können mithilfe der Python Library [geopandas](http://geopandas.org) wie folgt eingelesen werden.

In [46]:
import geopandas as gpd

# Path to the geographical data stored in a .json file
PATH = '../data/json/gesundheitsdaten_'
# Load data into GeoDataFrame
countries = gpd.read_file(PATH + 'countries_geo.json')

In [47]:
# Examine country GeoDataFrame loaded from .json file 
countries.head()

,id,name,geometry
0,AFG,Afghanistan,"POLYGON ((61.21082 35.65007, 62.23065 35.27066..."
1,AGO,Angola,"MULTIPOLYGON (((16.32653 -5.87747, 16.57318 -6..."
2,ALB,Albania,"POLYGON ((20.59025 41.85540, 20.46317 41.51509..."
3,ARE,United Arab Emirates,"POLYGON ((51.57952 24.24550, 51.75744 24.29407..."
4,ARG,Argentina,"MULTIPOLYGON (((-65.50000 -55.20000, -66.45000..."

In [48]:
countries.plot()

<bound method GeoDataFrame.plot of       id                  name  \
0    AFG           Afghanistan
1    AGO                Angola
2    ALB               Albania
3    ARE  United Arab Emirates
4    ARG             Argentina
..   ...                   ...
175  PSE             West Bank
176  YEM                 Yemen
177  ZAF          South Africa
178  ZMB                Zambia
179  ZWE              Zimbabwe

                                              geometry
0    POLYGON ((61.21082 35.65007, 62.23065 35.27066...
1    MULTIPOLYGON (((16.32653 -5.87747, 16.57318 -6...
2    POLYGON ((20.59025 41.85540, 20.46317 41.51509...
3    POLYGON ((51.57952 24.24550, 51.75744 24.29407...
4    MULTIPOLYGON (((-65.50000 -55.20000, -66.45000...
..                                                 ...
175  POLYGON ((35.54566 32.39399, 35.54525 31.78251...
176  POLYGON ((53.10857 16.65105, 52.38521 16.38241...
177  POLYGON ((31.52100 -29.25739, 31.32556 -29.401...
178  POLYGON ((32.75937 -9.23060, 33.23139 -9.67672...
179  POLYGON ((31.19141 -22.25151, 30.65986 -22.151...

[180 rows x 3 columns]>

1. Da in diesem Teilversuch nur die Lebenserwartung in 2015 betrachtet werden, sind nur diese Zeilen aus dem angelegten Dataframe zu berücksichtigen.
2. Vereinigen Sie die Polygondaten aus dem Dataframe `countries` mit dem Dataframe `general_information`. Achten Sie hierbei, dass Sie den *pandas dataframe* in den *geopandas dataframe* mergen, das Resultat also ein *geopandas dataframe* mergen ist (andernfalls funktioniert der nächste Schritt nicht).

In [52]:
# Query database to retrieve the data for life expectancy in the year 2015
query = """SELECT "Entity", "Code", "Year","LifeExpectancy" FROM general_information WHERE "Year"= '2015'"""
general_information_2015 = pd.read_sql_query(query,engine)

# Adjust names for the values of "Entity" and "Code" to "name" and "id"
general_information_2015.rename(columns={"Entity":"name", "Code":"id"}, inplace=True)
# Check the new values
print ('The new name-values are \n{}'.format(general_information_2015))

# Merge the two dataframes into a GeoDataFrame
df = gpd.GeoDataFrame
df = countries.merge(general_information_2015, how='inner',on=["name", "id"])
print('The merged GeoDataFrame values are \n{}'.format(df))

The new name-values are
                    name        id  Year  LifeExpectancy
0            Afghanistan       AFG  2015       63.287998
1                Albania       ALB  2015       78.174004
2                Algeria       DZA  2015       75.860001
3                 Angola       AGO  2015       61.241001
4    Antigua and Barbuda       ATG  2015       76.207001
..                   ...       ...   ...             ...
198       Western Sahara       ESH  2015       69.212997
199                World  OWID_WRL  2015       71.429001
200                Yemen       YEM  2015       64.742996
201               Zambia       ZMB  2015       61.396999
202             Zimbabwe       ZWE  2015       60.397999

[203 rows x 4 columns]
The merged GeoDataFrame values are
      id                  name  \
0    AFG           Afghanistan
1    AGO                Angola
2    ALB               Albania
3    ARE  United Arab Emirates
4    ARG             Argentina
..   ...                   ...
157  VUT               Vanuatu
158  YEM                 Yemen
159  ZAF          South Africa
160  ZMB                Zambia
161  ZWE              Zimbabwe

                                              geometry  Year  LifeExpectancy
0    POLYGON ((61.21082 35.65007, 62.23065 35.27066...  2015       63.287998
1    MULTIPOLYGON (((16.32653 -5.87747, 16.57318 -6...  2015       61.241001
2    POLYGON ((20.59025 41.85540, 20.46317 41.51509...  2015       78.174004
3    POLYGON ((51.57952 24.24550, 51.75744 24.29407...  2015       77.100998
4    MULTIPOLYGON (((-65.50000 -55.20000, -66.45000...  2015       76.415001
..                                                 ...   ...             ...
157  MULTIPOLYGON (((167.84488 -16.46633, 167.51518...  2015       71.925003
158  POLYGON ((53.10857 16.65105, 52.38521 16.38241...  2015       64.742996
159  POLYGON ((31.52100 -29.25739, 31.32556 -29.401...  2015       61.980999
160  POLYGON ((32.75937 -9.23060, 33.23139 -9.67672...  2015       61.396999
161  POLYGON ((31.19141 -22.25151, 30.65986 -22.151...  2015       60.397999

[162 rows x 5 columns]


5. Durch Aufruf der Methode `to_json()` kann ein Dataframe in json transformiert werden. Die von der Methode zurückgegebenen Daten können einem [Bokeh GeoJSONDataSource](https://bokeh.pydata.org/en/latest/docs/user_guide/geo.html#geojson-data)-Objekt beim Anlegen übergeben werden. Das *GeoJSONDataSource*-Objekt kann direkt der entsprechenden Bokeh-plotting Funktion übergeben werden. Erzeugen Sie mit diesen Hinweisen einen interaktiven Weltkartenplot der oben dargestellten Art. Beim *Mouse-Over* über ein Land soll der Name des Landes und die Lebenserwartung angezeigt werden.
> Alternative: Eine einfachere Lösung für die Geovisualisierung bietet [geopandas](http://geopandas.org/mapping.html). Allerdings sind damit keine interaktiven Elemente realisierbar. 
6. Diskutieren Sie die aus der Visualisierung gewonnenen Erkenntnisse.

In [55]:
# Write the GeoPandaFrame to GeoJSON file format
df.to_file("../data/json/lifeexp_geodata_2015.json", driver="GeoJSON")

In [ ]:
import json

from bokeh.io import output_file, show
from bokeh.models import GeoJSONDataSource
from bokeh.plotting import figure

## Korrelation der Lebenserwartung mit volkswirtschaftlichen Metriken
In diesem Abschnitt soll die paarweise Korrelation von 
* `GDPperCapita`
* `AnnualHealthcarExpPerCapita`

mit der `LifeExpectancy` untersucht werden. 

1. Für die visuelle Korrelationsanalyse erzeugen Sie je einen Scatterplot, in dem `LifeExpectancy` über `GDPperCapita` bzw. über `AnnualHealthcarExpPerCapita` dargestellt ist.
2. Berechnen Sie mit der `numpy`-Funktion `corrcoef` die beiden paarweisen Korrelationen. 
3. Diskutieren Sie das Ergebnis.

## Korrelation der Lebenserwartung mit Ernährungsdaten
Untersuchen Sie dann so wie im vorigen Abschnitt wie die einzelnen Nuitrition-Merkmale mit der `LifeExpectancy` korrelieren. Diskutieren Sie das Ergebnis.

## Time Series Analysis

Auf der Basis des Dataframes `nutrition_information`: Stellen Sie die zeitliche Entwicklung des Merkmals
1. `KcalFat` 
2. `DailyCaloriesPerCapita` 

von 1995 bis 2015 für die Länder Bolivia, Bulgaria, Egypt, Kenya, United States, China, Brazil, Germany graphisch dar. Erzeugen Sie hierfür pro Merkmal einen Plot, in dem die Linegraphs aller genannten Länder dargestellt sind. 

Interpretieren Sie diese Darstellungen

## Jahr mit den meisten non-Nans
1. Bestimmen Sie das Jahr, für das am meisten non-Nans in dem in der vorigen Teilaufgabe erstellten Dataframe `nutrition_information` existieren.
2. Erstellen Sie einen neuen Dataframe, der nur die non-Nan Daten für das zuvor bestimmte Jahr enthält.
3. Mergen Sie diesen neuen Dataframe mit dem Dataframe `general_information` ohne die Spalte `AnnualWorkingHourPerPerson`. Der so gebildete Dataframe wird im Weiteren mit `data_nut_gen` bezeichnet.

## Dimensionsreduktion mit PCA und TSNE

Der oben konstruierte Dataframe `data_nut_gen` sollte ausschließlich non-NAN Werte haben und Daten nur eines Jahres enthalten. Alle Spalten von `data_nut_gen`, außer `Entity`, `Code`, `Year` und `LifeExpectancy` werden im Folgenden als *Merkmalsspalten* bezeichnet.

1. Führen Sie auf dem numpy-Array, das nur die Werte der *Merkmalspalten* enthält, eine Principal Component Analysis mit dem entsprechenden [scikit-learn Modul PCA](http://scikit-learn.org/stable/modules/generated/sklearn.decomposition.PCA.html) durch. Bestimmen Sie die zwei Hauptachsen. 
2. Bestimmen Sie für das trainierte Modell den `explained_variance_ratio`. Was sagen diese Zahlen aus?
2. Stellen Sie die auf die 2 Hauptachsen transformierten Daten der Merkmalsspalten von `data_nut_gen` in einem Bokeh-Plot dar. In diesem soll die Farbe der Punkte durch die Werte der Spalte `LifeExpectancy` codiert werden.
3. Führen Sie nun eine Dimensionalitätsreduktion mit dem [scikit-learn Modul TSNE](http://scikit-learn.org/stable/modules/generated/sklearn.manifold.TSNE.html) auf 2 Achsen durch. Visualisieren Sie auch dieses Resultat mit einem Bokeh-Plot (wie in Teilaufgabe 2).
4. Diskutieren Sie das Ergebnis der beiden Dimensionsreduktionen.

## Regression
Im Folgenden soll aus den Merkmalsspalten das Dataframes `data_nut_gen` die Lebenserwartung (Spalte `LifeExpectancy`) vorhergesagt werden.
1. Partitionieren Sie die Daten mit der [scikit-learn Methode](http://scikit-learn.org/stable/modules/generated/sklearn.model_selection.train_test_split.html), so dass $2/3$ der Daten für das Training und der Rest für den Test verwendet werden.
2. Trainieren Sie [ein lineares Regressionsmodell](http://scikit-learn.org/stable/modules/generated/sklearn.linear_model.LinearRegression.html) mit den Trainingsdaten und bestimmen Sie den *Mean-Absolute-Error* und den *R2*-Score auf Trainings- und Testdaten.
3. Wie kann mit dem trainierten Linear-Regression Modell auf die Bedeutung (Wichtigkeit) der verwendeten Merkmale geschlossen werden. 
3. Trainieren Sie nun einen [Random Forest Regressor](http://scikit-learn.org/stable/modules/generated/sklearn.ensemble.RandomForestRegressor.html) und bestimmen Sie wieder *Mean-Absolute-Error* und den *R2*-Score auf Trainings- und Testdaten.
3. Wie kann mit dem trainierten Random-Forest Modell auf die Bedeutung (Wichtigkeit) der verwendeten Merkmale geschlossen werden. 
4. Was ist der *R2-Score*?
4. Diskutieren Sie die Ergebnisse

In [0]:
from sklearn.linear_model import LinearRegression
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import train_test_split
from sklearn.metrics import r2_score,mean_absolute_error

## Clustering der Länder nach Ihrem Pro-Kopf-Kalorienverbrauch
1. Bestimmen Sie zunächst alle Länder für die das Merkmal `DailyCaloriesPerCapita` im Dataframe `nutrition_information` für alle Jahre von 1960 bis 2012 einen Wert hat. Konstruieren Sie dann ein numpy-Array $X$, in dem das Element $C_{i,j}$ in Zeile $i$, Spalte $j$, den `DailyCaloriesPerCapita`-Wert des Landes $i$ im $j.ten$ Jahr zwischen 1960 und 2012 enthält.
2. Clustern Sie die Länder nach ihrer zeitlichen Entwicklung des `DailyCaloriesPerCapita`-Wertes - also die Zeilen des Arrays $X$. Verwenden Sie hierfür den [K-Means Algorithmus von scikit-learn](http://scikit-learn.org/stable/modules/generated/sklearn.cluster.KMeans.html). Stellen Sie dabei die Clusteranzahl auf $k=5$ ein. 
3. Für jedes der $k=5$ Cluster: Erzeugen Sie einen Plot, in dem der zeitliche Verlauf des `DailyCaloriesPerCapita`-Wertes aller zum jeweiligen Cluster gehörenden Länder als Line-Graph dargestellt ist.
4. Charakterisieren Sie die 5 Cluster anhand der clusterspezifischen Visualisierung.

In [0]:
from sklearn.cluster import KMeans